---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            Published:
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
            <meta itemprop="mainEntityOfPage" content="{{ site.url }}" />
        </p>
        {% if page.tags %}
        <p class="post-meta">
            Tags: {% include tag.html %}
        </p>
        {% endif %}
    </header>
    <div class="post-content" itemprop="articleBody">
        {{ content }}

        <br>
        <hr>
        Comments? You are welcome to start a discussion on <a href="https://github.com/Sturla22/Sturla22.github.io/discussions/categories/general">Github</a>.
    </div>
</article>
